<?xml version="1.0" encoding="UTF-8"?>
<configuracion>
  <rutas>
    <ruta name="MITO">
      <direccion>MITO</direccion>
    </ruta>
      <ruta name="BDD">
    <direccion>./BDD</direccion>  
    </ruta>
    <ruta name="LOGS">
      <direccion>LOGS</direccion>  
    </ruta>
    <ruta name="DOCS">
      <direccion>DOCS</direccion>  
    </ruta>
    <ruta name="BACK">
      <direccion>BACK</direccion>    
    </ruta>
  </rutas>
  <backup>
    <fechaUltimoBackup>2022-10-01</fechaUltimoBackup>
    <horaUltimoBackup>10:10</horaUltimoBackup>
  </backup>
</configuracion>